// layout variables
$nav-height: 70px;

// color variables
$color-white: #ffffff;
$color-white-1: #f5f5f5;

$melon: #ffa69eff;
$united-nations-blue: #498effff;
$eggshell: #faf3ddff;
$aero-blue: #b8f2e6ff;
$dark-liver: #655560ff;

$orange-red-crayola: #ff5e5bff;
$light-gray: #d8d8d8ff;
$dark-slate-blue: #54428eff;
$amethyst: #8963baff;
$russian-green: #688b58ff;
